<h1 mat-dialog-title>Are you sure you want to delete this application?</h1>
<div mat-dialog-content>
    <p>This will permanently delete the application</p>
</div>
<div mat-dialog-actions>
    <button class="noButton" mat-raised-button (click)="onNoClick()">No</button>
    <button class="yesButton" mat-raised-button (click)="onYesClick()">Delete</button>
</div>