button{
    margin: 0 auto;
    width: 100px;
    font-size: 16px;
}

.noButton{
    color: white;
    background-color: #2BD8BC;
}

.yesButton{
    border: solid 1px #FF3648;
    color: white;
    background-color: #FF3648;
}