<div class="container">

    <div class="acitons" *ngIf="!noApplicationFound">
        <button mat-raised-button class="removeButton" (click)="openDialog(id)">Remove Application</button>
        <button mat-raised-button class="editButton" (click)="routerToEditApplication()">Edit Application</button>
        <!-- <button mat-raised-button class="editButton" routerLink="'/application/edit/'{{application.id}}">Edit Application</button> -->
    </div>
    

    <div class="application" *ngIf="!noApplicationFound">

        <div class="attributeField">
            <span class="attribute">Name: </span>
            <span class="attributeData">{{application.name}}</span>
        </div>

        <div class="attributeField">
            <span class="attribute">Email: </span>
            <span class="attributeData">{{application.email}}</span>
        </div>

        <div class="attributeField">
            <span class="attribute">Age: </span>
            <span class="attributeData">{{application.age}}</span>
        </div>

        <div class="attributeField">
            <span class="attribute">Phone number: </span>
            <span class="attributeData">{{application.phoneNumber}}</span>
        </div>

        <div class="attributeField">
            <span class="attribute">Prefers to communicate via : </span>
            <span class="attributeData">{{application.prefWayOfCommunication}}</span>
        </div>

        <div class="attributeField">
            <span class="attribute">English level: </span>
            <span class="attributeData">{{application.englishLevel}}</span>
        </div>

        <div class="attributeField">
            <span class="attribute">Avaiable to start: </span>
            <span class="attributeData">{{application.avaiableToStartDate | date}}</span>
        </div>

        <div class="attributeField">
            <span class="attribute">Technical Skill and courses: </span>
            <p class="attributeData">{{application.technicalSkillsAndCourses}}</p>
        </div>

        <div class="attributeField">
            <span class="attribute">Reason for joining the program: </span>
            <div class="paragraph">
                <p class="attributeData">{{application.shortPersonalPresentation}}</p>
            </div>
        </div>

        <div class="attributeField">
            <mat-checkbox class="attribute" [checked]="application.studyFromHome ? application.studyFromHome : false" [disabled]="true">Study from home</mat-checkbox>
        </div>

    </div>
</div>