.acitons{
    padding-bottom: 16px;
    height: 48px;
}

.acitons button{
    float: right;
    color: white;
    margin-left: 16px;
    height: 3em;
    font-size: 16px;
}

.acitons .editButton{
    background-color: orange
}

.acitons .removeButton{
    background-color: red;
}

.application{
    padding: 32px;
    background-color: white;
    border-radius: 5px;
    font-family: Roboto,sans-serif;
}

.attribute{
    font-weight: 700;
}

.attributeField{
    width: 100%;
    padding-bottom: 24px;
    overflow: hidden;
    word-wrap: break-word;
}

.attributeField p{
    border-radius: 5px;
    border: black solid 1px;
    padding: 12px;
}

