.searchBox{
    width: 100%;
    display: flex;
    align-items: center;
}

.searchBox .mat-form-field{
    width: 78%;
}

:host ::ng-deep .searchBox .mat-form-field .mat-form-field-wrapper{
    padding-bottom: 0;
  }

.searchBox button{
    color: white;
    background-color: #2BD8BC;
    float: right;
    width: 20%;
    margin-left: 16px;
    height: 3em;
    font-size: 16px;
    font-weight: 550;
}

.mat-row :hover{
    background-color: #F0F3F7;
}

.mat-paginator{
    margin-bottom: 64px;
}

table{
    width: 100%;
    margin-top: 64px;
}

table .tableRow{
    cursor: pointer;
}

td.mat-column-actions{
    width: 88px;
    padding-right: 8px;
}

td.mat-column-actions div{
    float: left;
    padding-left: 2px;
    padding-right: 2px;
}

.infoIcon .mat-icon{
    color: #2185D0;
    cursor: pointer;
    transition: all 0.3s ease;
}

.infoIcon .mat-icon:hover{
    transform: scale(1.2);
}

.editIcon .mat-icon{
    color:#F0AB49;
    cursor: pointer;
    transition: all 0.3s ease;
}

.editIcon .mat-icon:hover{
    transform: scale(1.2);
}

.deleteIcon .mat-icon{
    color: #d74e4c;
    cursor: pointer;
    transition: all 0.3s ease;
}

.deleteIcon .mat-icon:hover{
    transform: scale(1.2);
}

