<div class="searchBox">
    <mat-form-field appearance="outline">
        <mat-label>Search</mat-label>
        <mat-icon matPrefix>search</mat-icon>
        <input matInput (keyup)="searchByName($event.target.value)" placeholder="Name">
    </mat-form-field>

    <button mat-raised-button routerLink="/application/add">+ Add Application</button>
</div>

<table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let row" class="tableRow" [routerLink]="'application/view/' + row.id">{{row.name}}</td>
    </ng-container>

    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let row">{{row.email}}</td>
    </ng-container>

    <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef>Phone number</th>
        <td mat-cell *matCellDef="let row">{{row.phoneNumber}}</td>
    </ng-container>

    <ng-container matColumnDef="actions" stickyEnd>
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let row">
            <div class="infoIcon">
                <a [routerLink]="'application/view/' + row.id"><mat-icon>info</mat-icon></a>
            </div>
            <div class="editIcon">
                <a [routerLink]="'application/edit/' + row.id"><mat-icon>edit</mat-icon></a>
            </div>
            <div class="deleteIcon"><mat-icon (click)="openDialog(row.id)">delete</mat-icon></div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> 

</table>
<mat-paginator [pageSizeOptions]="[10, 20, 50]"></mat-paginator>