.form-container{
    width: 100%;
    background-color: white;
    border-radius: 5px;
}

.form-container h2{
    padding-top: 32px;
    padding-left: 48px;

}

.form-container .mat-form-field-label{
    word-wrap: break-word
}

.application-form{
    min-width: 150px;
    padding-bottom: 24px;
    padding-left: 48px;
    padding-right: 48px;
}

.application-form button{
    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 550;
    height: 44px;
}

.application-form .mat-form-field{
    width: 100%;
}

.radioGroup{
    padding-top: 16px;
    padding-bottom: 16px;
    line-height: 1.125;
    font-family: Roboto,"Helvetica Neue", sans-serif;
}

.radioGroup .mat-error{
    font-size: 75%
}

.mat-radio-button{
    padding-right: 16px;
}

.loadingAnimation{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: rgb(182, 182, 182);
    filter: alpha(opacity = 55);
    opacity:.55;
}

.loadingAnimation .mat-spinner{
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 0 auto;
    margin-top: -50px;
    margin-left: -50px;
}