<div class="form-container">

    <h2>Application Form</h2>

    <form class="application-form" [formGroup]="applicationForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <input matInput placeholder="Name" formControlName="name" required>
            <mat-error *ngIf="applicationForm.get('name').invalid">
                {{getNameErrorMessage()}}
            </mat-error>
        </mat-form-field>
        
        <mat-form-field>
                <input matInput placeholder="Email" formControlName="email" required>
                <mat-error *ngIf="applicationForm.get('email').invalid">
                    {{getEmailErrorMessage()}}
                </mat-error>
            </mat-form-field>

        <mat-form-field>
            <mat-select matInput placeholder="Age" formControlName="age" required>
                <mat-option *ngFor="let age of ageList" [value]="age">
                    {{age}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="applicationForm.get('age').invalid">
                {{getAgeErrorMessage()}}
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Phone number" formControlName="phoneNumber" required>
            <mat-hint>+359 888 888888</mat-hint>
            <mat-error *ngIf="applicationForm.get('phoneNumber').invalid">
                {{getPhoneNumberErrorMessage()}}
            </mat-error>
        </mat-form-field>

        <div class="radioGroup">
            <label>Prefered way of comunicaiton: </label>
            <mat-radio-group formControlName="prefWayOfCommunication" >
                <mat-radio-button color="primary" value="Phone">Phone</mat-radio-button>
                <mat-radio-button color="primary" value="Email">Email </mat-radio-button>
                <mat-error *ngIf="applicationForm.get('prefWayOfCommunication').invalid">
                    {{getRadioButtonErrorMessage()}}
                </mat-error>
            </mat-radio-group>
        </div>

        <mat-form-field>
            <mat-select matInput placeholder="English Level" formControlName="englishLevel" required>
                <mat-option *ngFor="let level of englishLevelList" [value]="level">
                    {{level}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="applicationForm.get('englishLevel').invalid">
                {{getEnglishLevelErrorMessage()}}
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput [min]="todaysDate" [matDatepicker]="picker" placeholder="Avaiable to Start" formControlName="avaiableToStartDate" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>   
            <mat-error *ngIf="applicationForm.get('avaiableToStartDate').invalid">
                {{getAvaiableToStartDateErrorMessage()}}
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>What Technical Skills and Courses do you have to far?</mat-label>
            <textarea matInput formControlName="technicalSkillsAndCourses">
            </textarea>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Why do you want to join our program?</mat-label>
            <textarea matInput formControlName="shortPersonalPresentation">
            </textarea>
        </mat-form-field>
        
        <mat-checkbox color="primary" formControlName="studyFromHome">Study from home</mat-checkbox>
        
        <button mat-raised-button [disabled]="!applicationForm.valid">Submit</button> <!--[disabled]="!applicationForm.valid"-->

    </form>
</div>

<!-- <button mat-raised-button (click)="addTestData()">Add 3 students to the array for testing</button> -->

<div class="loadingAnimation" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
</div>


