<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer>
        <p>Menu</p>

        <button mat-button style="height: 0; position: absolute;"> <!-- 'absorbs' the auto-focus behavior -->
        </button>

        <button mat-button (click)="drawer.close()" routerLink="">
            <mat-icon>home</mat-icon>
            Home
        </button>

        <button mat-button (click)="drawer.close()" routerLink="/application/add">
            <mat-icon>add</mat-icon>
            Add Application
        </button>
    </mat-drawer>
    <div class="sidenav-content">
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <button mat-icon-button (click)="drawer.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
                <span>Applications Manager</span>
                <span class="spacer"></span>
            </mat-toolbar-row>
        </mat-toolbar>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div>
</mat-drawer-container>


