.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.container .mat-drawer p{
    padding-left: 20px;
    padding-top: 20px;
}

.container .mat-drawer{
    min-width: 200px;
}

.container .mat-drawer .mat-button{
    display: block;
    width: 100%;
    text-align: left;
}

.spacer{
    margin: 0 auto;
}

.content{
    max-width: 900px;
    margin: 0 auto;
    margin-top: 64px;
}